<html>
<body>
    <div style="margin-top:20px;">
        <img style="max-width:200px; min-width: 100px;" src="cid:@LogoContentId" alt="EventFlow Logo" />
        <h1>Anulowanie rezerwacji nr @ReservationId</h1>
        <p>Otrzymujesz ten e-mail w związku z anulowaniem swojego zamówienia w serwisie EventFlow.</p>
        <p>
            <strong>
                [UWAGA] Anulowanie rezerwacji oznacza, że posiadane przez ciebie bilety dotyczące rezerwacji nr @ReservationId 
                tracą swoją ważność natychmiast po otrzymaniu tego maila. 
            </strong>
        </p>
        <p>
            W przypadku dokonania płatności, środki zostaną zwrócone na konto, z którego została
            zrealizowana płatność, w ciągu najbliższych kilku dni roboczych.
        </p>
        <p>
            Jeśli masz jakiekolwiek pytania lub potrzebujesz dalszej pomocy, prosimy o kontakt
            z nami drogą mailową: eventflow.kontakt@gmail.com
        </p>
        <hr />
        <p style="font-size: 10px">
            Powyższy email stanowi treść poufną. Jeżeli otrzymałeś ten mail przez pomyłkę prosimy o powiadomienie nas o zaistniałej sytuacji oraz usunięcie wiadomości.
        </p>
        <p style="font-size: 10px">
            Nadawcą tej wiadomości jest EventFlow. W razie jakichkolwiek pytań lub wątpliwości prosimy skontaktować się z nami drogą elektroniczną: eventflow.kontakt@gmail.com
        </p>
        <p style="font-size: 10px">Wiadomość nadana dnia @DateTime.Now</p>
    </div>
</body>
</html>

@code {
    [Parameter] public int ReservationId { get; set; }
    [Parameter] public string LogoContentId { get; set; } = string.Empty;
}